@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0e0725;
  color: rgb(15, 15, 15);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  position: relative;
  width: 420px;
  height: 450px;
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: height .2s ease;
}

.wrapper.active {
  height: 600px;
}

.wrapper .form-box {
  width: 100%;
  padding: 40px;
}

.wrapper .form-box.login {
  transition: transform 0.18s ease !important;
  translate: 0;
} 
.wrapper{
  overflow: hidden;
}
.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.signup {
  transition: translate 0.18s ease !important;
  position: absolute;
  transition: none;
  translate: 440px;
}

.wrapper.active .form-box.login {
  visibility: hidden;
}
.wrapper.active .form-box.signup {
  visibility: visible;
}

.wrapper:not(.active) .form-box.login {
  visibility: visible;
}
.wrapper:not(.active) .form-box.signup {
  visibility: hidden;
}

.wrapper.active .form-box.signup {
  translate: 0;
}

form h2 {
  font-size: 36px;
  text-align: center;
}

form .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 35px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(5, 5, 5, 0.205);
  border-radius: 40px;
  font-size: 16px;
  color:  rgb(15, 15, 15);
  padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
  color:  rgb(15, 15, 15);
}

.input-box .icon {
  position: absolute;
  right: 20px;
  top: 50%;
  translate: 0 -50%;
  font-size: 16px;
}

form .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 10px 0 15px;
}

.remember-forgot label input {
  accent-color:  rgb(15, 15, 15);
  margin-right: 4px;
}

.remember-forgot a {
  color:  rgb(15, 15, 15);
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

form button {
  width: 100%;
  height: 45px;
  background-color:  rgb(15, 15, 15);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 700;
}

form button:hover {
  background-color: #0e0725;
  color: #ffff;
}

form .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color:  rgb(15, 15, 15);
  text-decoration: none;
  font-weight: 600 ;
}

.register-link p a:hover {
  text-decoration: underline;
}
.ms-2{
  margin-left:4px;
}
.error {
  font-size: 12px;
  color: rgb(156, 4, 4);
  margin-left: 18px;
}


